body {
  background-color: white;
}

/* FONTS */

@font-face {
    font-family:'BWHaasText-Medium';
    src: url(fonts/BWHaasText-65Medium.otf);
}

@font-face {
    font-family:'BWHaasText-Roman';
    src: url(fonts/BWHaasText-55Roman.otf);
}

@font-face {
    font-family:'BWHaasText-Italic';
    src: url(fonts/BWHaasText-56Italic.otf);
}


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased !important;
  outline: none;
}

/* TEXT */
p {
  font-family: 'BWHaasText-Medium';
  font-size: 16px;
  /* text-align: left; */
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: #ff0039;
    hyphenate-limit-chars: 9 3 3;
}

h1 {
  font-family: 'BWHaasText-Medium', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-indent: 20px;
  color: #ff0039;
}

h2 {
  font-family: 'BWHaasText-Medium', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-indent: 20px;
  color: #ff0039;
}


a{
  font-family: 'BWHaasText-Medium', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-indent: 20px;
  color: #ff0039;
}


a.link {
  color: #ff0039;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ff0039;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #ff0039;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #ff0039;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}


/* span{
  font-family: 'BWHaasText-Medium';
  font-size: 40px;
  text-indent: 18px;
  text-align: left;
  color: #ff0039;
} */

.Title{
  font-family: 'BWHaasText-Medium';
  font-size: 50px;
  line-height: 1.1em;
  text-align: left;
  color: #ff0039;
}

.FirstTitle{
  font-family: 'BWHaasText-Medium';
  font-size: 55px;
  padding-top: 120px;
  padding-left: -30px;
  padding-right: 20px;
  height: 500px;
  color:#ff0039;
  background-color: white;
  text-align:left;
  vertical-align:middle;
  justify-content: space-around;
  /* justify-content:center; */
  align-items: center;
}

.endtext {
  font-family: 'BWHaasText-Medium';
  font-size: 11px;
  text-align: center;
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: #ff0039;
    hyphenate-limit-chars: 9 3 3;
}

.read{
  font-family: 'BWHaasText-Medium';
  font-size: 20px;
  padding-top: 150px;
  text-align: right;
  color: #ff0039;
}


.menu {
	position: relative;
	top: 5%;
  text-align: left;
	left: 2%;
	width: 60px;
	margin: 0;
	z-index: 2;
}

.link {
	position: relative;
	width: 100%;
	line-height: 1.2em;
	margin-top: 75px;
	margin-bottom: 150px;
  margin-left: 10px;
  margin-right: 10px;
	text-align: left;
	z-index: 50%;
	overflow-y: scroll;
	overflow-x: hidden;
	color: #ff0039;
}

.chapter {
	position: relative;
	width: 50%;
	height: auto;
	left: 25%;
   	margin-top: -30px;
  	padding-top: 30px;
  	margin-bottom: 100px;
}

.subtitle {
  font-family: 'BWHaasText-Medium';
  font-size: 16px;
  text-transform: uppercase;
  text-indent: 18px;
  color: #ff0039;
}

.roman {
  font-family: 'BWHaasText-Roman';
  font-size: 14px;
  text-align: center;
  color: #ff0039;
}


.footnotes{
  font-family: 'BWHaasText-Roman';
  font-size: 8px;
  padding-top: 3px;
  padding-left: 0%;
  padding-right: 5%;
  color: #ff0039;
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 9 3 3;
}

.image-footnotes {
  font-family: 'BWHaasText-Roman';
  font-size: 12px;
  padding-top: 3px;
  padding-left: 18px;
  padding-right: 18px;
  color: black;
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 9 3 3;
}

/* IMAGES */
.images {
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 1;
}

.messages {
  width: auto;
  height: 50%;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  z-index: 1;
}



.images img{
  width: 100%;
  display: block;
  border-radius: 25px;
  padding-bottom: 4px;
}


.bubble {
  font-family: 'BWHaasText-Medium', sans-serif;
  font-size: 16px;
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 9 3 3;
  position: relative;
  background: #ff0039;
  border-radius: 40px;
  padding: 24px;
  text-align: left;
  color: white;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #ff0039;
  border-right: 12px solid transparent;
  border-top: 12px solid #ff0039;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}



.flex-container {
    position: relative;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
    overflow: scroll;
    overflow: hidden; /* Hide scrollbars */

}



.abstract {
  padding-top: 20px;
}


@media screen and (max-width: 800px) {


  .flex-container{
    position:relative;
    box-sizing: border-box;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }

  .abstract {
    padding-top: 3px;
  }

  .image-footnotes {
  font-size: 7px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
